/*
   Saturday, 10 February 20183:29:23 PM
   User: sa
   Server: localhost
   Database: GMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tbDocumentNumber ADD
	ClaimNo varchar(5) NULL
GO
ALTER TABLE dbo.tbDocumentNumber SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
