/*
   Monday, 26 February 201810:19:36 PM
   User: sa
   Server: localhost
   Database: GMS_OLD
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tbEntertainmentClaim_Approve
	(
	CoyID smallint NOT NULL,
	UserNumID smallint NOT NULL,
	OnBehalfUserNumID smallint NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.tbEntertainmentClaim_Approve SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
