BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tbEntertainmentClaim_Detail
	(
	id int NOT NULL IDENTITY (1, 1),
	ClaimID int NOT NULL,
	type nvarchar(MAX) NULL,
	claimDate datetime NOT NULL,
	remark nvarchar(MAX) NULL,
	currencyRate float(53) NOT NULL,
	amount float(53) NOT NULL,
	currencyCode nvarchar(50) NOT NULL,
	CreatedDate datetime NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.tbEntertainmentClaim_Detail ADD CONSTRAINT
	PK_tbEntertainmentClaim_Detail PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tbEntertainmentClaim_Detail SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
