/*
   Sunday, 11 February 20186:23:44 PM
   User: sa
   Server: localhost
   Database: GMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tbEntertainmentClaim_Attachment
	(
	ID int NOT NULL IDENTITY (1, 1),
	ClaimDetailID int NOT NULL,
	attachment nvarchar(MAX) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.tbEntertainmentClaim_Attachment ADD CONSTRAINT
	PK_tbEntertainmentClaim_Attachment PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tbEntertainmentClaim_Attachment SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
