CREATE PROCEDURE [dbo].[procAppSelectEntertainmentClaim]
@CoyID smallint,
@UserID smallint,
@Status smallint,
@ClaimFrom datetime,
@ClaimTo datetime
AS

	
SET NOCOUNT ON;

IF (@Status >= 0)
BEGIN
	SELECT c.* , 
	CASE 
		WHEN c.Status = 0 THEN 'Open' 
		WHEN c.Status = 1 THEN 'Pending' 
		WHEN c.Status = 2 THEN 'Approved' 
		WHEN c.Status = 3 THEN 'Rejected' 
	End As StatusName,
	u.UserRealName
	FROM [dbo].[tbEntertainmentClaim] c WITH(NOLOCK)
	INNER JOIN aspnet_Users u WITH(NOLOCK)  on u.UserNumId = c.CreatedBy
	WHERE c.CoyID = @CoyID
	AND (
		c.CreatedBy IN (
			Select OnBehalfUserNumID 
			from tbEntertainmentClaim_Approve a WITH (NOLOCK)
			where a.UserNumID = @UserID and CoyID = @CoyID
		)
		OR
		c.CreatedBy = @UserID
	)
	AND c.Status = @Status
	AND c.ClaimDate > @ClaimFrom
	AND c.ClaimDate < @ClaimTo
END
ELSE 
BEGIN
	SELECT c.* , 
	CASE 
		WHEN c.Status = 0 THEN 'Open' 
		WHEN c.Status = 1 THEN 'Pending' 
		WHEN c.Status = 2 THEN 'Approved' 
		WHEN c.Status = 3 THEN 'Rejected' 
	End As StatusName,
	u.UserRealName
	FROM [dbo].[tbEntertainmentClaim] c WITH(NOLOCK)
	INNER JOIN aspnet_Users u WITH(NOLOCK)  on u.UserNumId = c.CreatedBy
	WHERE c.CoyID = @CoyID
	AND (
		c.CreatedBy IN (
			Select OnBehalfUserNumID 
			from tbEntertainmentClaim_Approve a WITH (NOLOCK)
			where a.UserNumID = @UserID and CoyID = @CoyID
		)
		OR
		c.CreatedBy = @UserID
	)
	AND c.ClaimDate > @ClaimFrom
	AND c.ClaimDate < @ClaimTo
	
END


