USE [GMS]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procAppInsertFeed]
@CoyID smallint,
@UserID smallint,
@Title nvarchar(max),
@Desc nvarchar(max),
@Content nvarchar(max)
AS

	
SET NOCOUNT ON;

BEGIN

	INSERT INTO dbo.tbFeed
	(ID, Coy_ID, Type, Title,Created_By,Created_At,Feed_Description,Feed_Content)
	VALUES(
	(SELECT ISNULL(MAX(ID)+1,0) FROM dbo.tbFeed WITH(SERIALIZABLE, UPDLOCK)), @CoyID, 
	'system_update',
	@Title,
	@UserID,
	GETDATE(),
	@Desc,
	@Content
	);

END