/*
   February 2, 20182:02:17 PM
   User: sa
   Server: LOCALHOST
   Database: GMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tbBudgetForFinance ADD
	UnitID smallint NOT NULL CONSTRAINT DF_tbBudgetForFinance_UnitID DEFAULT -1
GO
ALTER TABLE dbo.tbBudgetForFinance
	DROP CONSTRAINT PK_tbBudgetForFinance
GO
ALTER TABLE dbo.tbBudgetForFinance ADD CONSTRAINT
	PK_tbBudgetForFinance PRIMARY KEY CLUSTERED 
	(
	CoyID,
	ProjectID,
	DepartmentID,
	SectionID,
	BudgetYear,
	BudgetMonth,
	ItemID,
	UnitID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 90, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.tbBudgetForFinance SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
