/*
   Thursday, 1 February 20182:10:58 PM
   User: sa
   Server: localhost
   Database: GMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tbBudgetForFinance ADD
	UnitID smallint NULL
GO
ALTER TABLE dbo.tbBudgetForFinance ADD CONSTRAINT
	DF_tbBudgetForFinance_UnitID DEFAULT -1 FOR UnitID
GO
ALTER TABLE dbo.tbBudgetForFinance SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
