ALTER PROCEDURE [dbo].[procReportFinanceSAPMAByLevel]
@CoyID smallint, 
@ProjectID smallint,
@DepartmentID smallint,
@SectionID smallint,
@UnitID smallint,
@Year smallint,
@Month smallint
AS 

DECLARE @CurrencyCode nvarchar(13), @Company nvarchar(100),
@Division nvarchar(100), @Department nvarchar(100), @Section nvarchar(100), @Unit nvarchar(100),
@Less float, @Conversion float

--Company Details
SELECT @CurrencyCode=C.DefaultCurrencyCode, @Company=C.Name, 
@Division=UPPER(ISNULL(cp.ProjectName,'Company')), @Department=UPPER(ISNULL(cd.DepartmentName,'None')), 
@Section=UPPER(ISNULL(cs.SectionName,'None')), @Unit=UPPER(ISNULL(cu.UnitName,'None'))
FROM tbCompany C WITH (NOLOCK)
LEFT JOIN tbCompanyProject cp WITH (NOLOCK) on cp.coyid=c.coyid AND cp.ProjectID = @ProjectID
LEFT JOIN tbCompanyDepartment cd WITH (NOLOCK) on cd.coyid=c.coyid AND cd.DepartmentID=@DepartmentID
LEFT JOIN tbCompanySection cs WITH (NOLOCK) on cs.coyid=c.coyid AND cs.sectionid=@SectionID
LEFT JOIN tbCompanyUnit cu WITH (NOLOCK) on cu.coyid=c.coyid AND cu.UnitID=@UnitID
WHERE C.CoyID = @CoyID

--Corrency Detail
IF @CurrencyCode = 'SGD' 
BEGIN
SET @Conversion=1.00
SET @Less=1
SET @CurrencyCode=@CurrencyCode+' 000s'
END
ELSE
BEGIN
SELECT @Conversion=MonthEndRate
FROM tbForeignExchangeRate WITH (NOLOCK) 
WHERE Year(CreatedDate) = @Year and Month(CreatedDate) = @Month 
AND HomeCurrencyCode = @CurrencyCode and ForeignCurrencyCode = 'SGD'
	
	IF (@CurrencyCode='IDR')
	BEGIN
		SET @Less=1000
		SET @CurrencyCode=@CurrencyCode+' 000,000s'
	END
	ELSE
	BEGIN
		SET @Less=1
		SET @CurrencyCode=@CurrencyCode+' 000s'
	END
END

-- if all selected
IF (@UnitID > 0)
BEGIN
	SELECT @Company as Company, @Division as Division, @Department as Department, @Section As Section , @Unit As Unit,
	@CurrencyCode as CurrencyCode, @Conversion as Conversion,
	ItemSeqID, ItemSN, REPLACE(ItemName,'(MA)','') as ItemName,
	ISNULL(f.MTD/@Less,0) as L1,
	0 as L2,
	0 as L3,
	0 as L4,
	0 as L5,
	0 as L6,
	0 as L7,
	0 as L8,
	0 as L9,
	ISNULL(f.MTD/@Less,0) as Total,
	f.CreatedDate
	FROM tbFinanceItemSeq p WITH (NOLOCK)
		LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
		LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID 
			AND f.CoyID = @CoyID 
			AND f.tbYear = @Year 
			AND f.tbMonth = @Month
			AND f.ProjectID = @ProjectID
			AND f.DepartmentID = @DepartmentID
			AND f.SectionID = @SectionID
			AND f.UnitID = @UnitID
	where P.Report ='MA'
	ORDER BY ItemSeqID
END

--if DIM1, DIM2, DIM3 Selected
ELSE IF (@ProjectID > 0 AND @DepartmentID > 0 AND @SectionID > 0 AND @UnitID < 0)
BEGIN
	SELECT @Company as Company, @Division as Division, @Department as Department, @Section As Section , @Unit As Unit,
	@CurrencyCode as CurrencyCode, @Conversion as Conversion,
	ItemSeqID, ItemSN, REPLACE(ItemName,'(MA)','') as ItemName,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 1)
	),0) As L1,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 2)
	),0) As L2,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 3)
	),0) As L3,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 4)
	),0) As L4,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 5)
	),0) As L5,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 6)
	),0) As L6,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 7)
	),0) As L7,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 8)
	),0) As L8,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = @SectionID
		AND UnitID = (SELECT UnitID FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitID, UnitName FROM tbCompanyUnit cd WITH (NOLOCK) where coyid=@coyid and SectionID = @SectionID)Temp where RowNum = 9)
	),0) As L9,
	ISNULL(f.MTD/@Less,0) as Total,
	f.CreatedDate
	FROM tbFinanceItemSeq p WITH (NOLOCK)
		LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
		LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID 
			AND f.CoyID = @CoyID 
			AND f.tbYear = @Year 
			AND f.tbMonth = @Month
			AND f.ProjectID = @ProjectID
			AND f.DepartmentID = @DepartmentID
			AND f.SectionID = @SectionID
			AND f.UnitID = -1
	where P.Report ='MA'
	ORDER BY ItemSeqID

END

--If DIM1 , DIM2 Selected , list all the section
ELSE IF (@ProjectID > 0 AND @DepartmentID > 0 AND @SectionID < 0 AND @UnitID < 0)
BEGIN
	SELECT @Company as Company, @Division as Division, @Department as Department,@Section As Section , @Unit As Unit,
	@CurrencyCode as CurrencyCode, @Conversion as Conversion,
	ItemSeqID, ItemSN, REPLACE(ItemName,'(MA)','') as ItemName,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 1)
		AND UnitID = -1
	),0) As L1,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 2)
		AND UnitID = -1
	),0) As L2,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 3)
		AND UnitID = -1
	),0) As L3,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 4)
		AND UnitID = -1
	),0) As L4,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 5)
		AND UnitID = -1
	),0) As L5,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 6)
		AND UnitID = -1
	),0) As L6,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 7)
		AND UnitID = -1
	),0) As L7,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 8)
		AND UnitID = -1
	),0) As L8,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = @DepartmentID
		AND SectionID = (SELECT SectionID FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionID, SectionName FROM tbCompanySection cd WITH (NOLOCK) where coyid=@coyid and DepartmentID = @DepartmentID)Temp where RowNum = 9)
		AND UnitID = -1
	),0) As L9,
	ISNULL(f.MTD/@Less,0) as Total,
	f.CreatedDate,
	f.ProjectID
	FROM tbFinanceItemSeq p WITH (NOLOCK)
		LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
		LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID 
			AND f.CoyID = @CoyID 
			AND f.tbYear = @Year 
			AND f.tbMonth = @Month
			AND f.ProjectID = @ProjectID
			AND f.DepartmentID = @DepartmentID
			AND f.SectionID = -1
			AND f.UnitID = -1
	where P.Report ='MA'
	ORDER BY ItemSeqID

END

--If DIM1 Selected only, list all deparment
ELSE IF (@ProjectID > 0 AND @DepartmentID < 0 AND @SectionID < 0 AND @UnitID < 0)
BEGIN

	SELECT @Company as Company, @Division as Division, @Department as Department,@Section As Section , @Unit As Unit,
	@CurrencyCode as CurrencyCode, @Conversion as Conversion,
	ItemSeqID, ItemSN, REPLACE(ItemName,'(MA)','') as ItemName,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 1)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L1,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 2)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L2,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 3)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L3,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 4)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L4,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 5)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L5,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 6)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L6,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 7)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L7,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 8)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L8,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = @ProjectID
		AND DepartmentID = (SELECT DepartmentID FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentID, DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp where RowNum = 9)
		AND SectionID = -1
		AND UnitID = -1
	),0) As L9,
	ISNULL(f.MTD/@Less,0) as Total,
	f.CreatedDate,
	f.ProjectID
	FROM tbFinanceItemSeq p WITH (NOLOCK)
		LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
		LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID 
			AND f.CoyID = @CoyID 
			AND f.tbYear = @Year 
			AND f.tbMonth = @Month
			AND f.ProjectID = @ProjectID
			AND f.DepartmentID = -1
			AND f.SectionID = -1
			AND f.UnitID = -1
	where P.Report ='MA'
	ORDER BY ItemSeqID
END
--if all not selected , list all project
ELSE
BEGIN
	SELECT @Company as Company, @Division as Division, @Department as Department,@Section As Section , @Unit As Unit,
	@CurrencyCode as CurrencyCode, @Conversion as Conversion,
	ItemSeqID, ItemSN, REPLACE(ItemName,'(MA)','') as ItemName,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 1)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L1,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 2)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L2,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 3)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L3,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 4)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L4,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 5)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L5,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 6)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L6,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 7)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L7,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 8)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L8,
	ISNULL((SELECT CASE WHEN MTD IS NULL THEN 0 ELSE MTD/@Less end as MTD FROM tbFinanceDataSAP WITH (NOLOCK) 
		WHERE tbYear = @Year AND tbMonth = @Month AND CoyID = @CoyID AND ItemID = i.itemID
		AND ProjectID = (SELECT ProjectID FROM (SELECT ROW_NUMBER() OVER(ORDER BY ProjectID ASC) AS RowNum , ProjectID ,ProjectName FROM tbCompanyProject cp WITH (NOLOCK) WHERE coyid=@coyid and ProjectID > 0 )Temp where RowNum = 9)
		AND DepartmentID = -1
		AND SectionID = -1
		AND UnitID = -1
	),0) As L9,
	ISNULL(f.MTD/@Less,0) as Total,
	f.CreatedDate,
	f.ProjectID
	FROM tbFinanceItemSeq p WITH (NOLOCK)
		LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
		LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID 
			AND f.CoyID = @CoyID 
			AND f.tbYear = @Year 
			AND f.tbMonth = @Month
			AND f.ProjectID = -1
			AND f.DepartmentID = -1
			AND f.SectionID = -1
			AND f.UnitID = -1
	where P.Report ='MA'
	ORDER BY ItemSeqID
END

