ALTER PROCEDURE [dbo].[procReportFinanceSAPMADetailByMonth]
@CoyID smallint, 
@ProjectID smallint,
@DepartmentID smallint,
@SectionID smallint,
@Year smallint,
@UnitID smallint
AS 

DECLARE @CurrencyCode nvarchar(3), @Company nvarchar(100), @Unit nvarchar(100),
@Division nvarchar(100), @Department nvarchar(100), @Section nvarchar(100)

--Company Details
SELECT @CurrencyCode=C.DefaultCurrencyCode, @Company=C.Name,
@Division=UPPER(ISNULL(cp.ProjectName,'Company')), @Department=UPPER(ISNULL(cd.DepartmentName,'None')), 
@Section=UPPER(ISNULL(cs.SectionName,'None')), @Unit=UPPER(ISNULL(cu.UnitName,'None'))
FROM tbCompany C WITH (NOLOCK)
LEFT JOIN tbCompanyProject cp WITH (NOLOCK) on cp.coyid=c.coyid AND cp.ProjectID = @ProjectID
LEFT JOIN tbCompanyDepartment cd WITH (NOLOCK) on cd.coyid=c.coyid AND cd.DepartmentID=@DepartmentID
LEFT JOIN tbCompanySection cs WITH (NOLOCK) on cs.coyid=c.coyid AND cs.sectionid=@SectionID
LEFT JOIN tbCompanyUnit cu WITH (NOLOCK) on cu.coyid=c.coyid AND cu.UnitID=@UnitID
WHERE C.CoyID = @CoyID

SELECT @Company as Company, @CurrencyCode+' 000s' as CurrencyCode,
@Division as Division, @Department as Department, @Section as Section, @Unit as Unit,
ItemSeqID, ItemSN, REPLACE(ItemName,'(MAD)','') as ItemName,
	CASE WHEN SUM(JAN) IS NULL THEN 0 ELSE SUM(JAN) END AS JAN, 
	CASE WHEN SUM(FEB) IS NULL THEN 0 ELSE SUM(FEB) END AS FEB, 
	CASE WHEN SUM(MAR) IS NULL THEN 0 ELSE SUM(MAR) END AS MAR, 
	CASE WHEN SUM(APR) IS NULL THEN 0 ELSE SUM(APR) END AS APR, 
	CASE WHEN SUM(MAY) IS NULL THEN 0 ELSE SUM(MAY) END AS MAY, 
	CASE WHEN SUM(JUN) IS NULL THEN 0 ELSE SUM(JUN) END AS JUN, 
	CASE WHEN SUM(JUL) IS NULL THEN 0 ELSE SUM(JUL) END AS JUL, 
	CASE WHEN SUM(AUG) IS NULL THEN 0 ELSE SUM(AUG) END AS AUG, 
	CASE WHEN SUM(SEP) IS NULL THEN 0 ELSE SUM(SEP) END AS SEP, 
	CASE WHEN SUM(OCT) IS NULL THEN 0 ELSE SUM(OCT) END AS OCT, 
	CASE WHEN SUM(NOV) IS NULL THEN 0 ELSE SUM(NOV) END AS NOV, 
	CASE WHEN SUM(DEC) IS NULL THEN 0 ELSE SUM(DEC) END AS DEC, 
	CASE WHEN SUM(TOTAL) IS NULL THEN 0 ELSE SUM(TOTAL) END AS TOTAL,
	CASE WHEN SUM(LASTYEAR) IS NULL THEN 0 ELSE SUM(LASTYEAR) END AS LASTYEAR, 
	MAX(CreateDDate) As CreatedDate
	FROM
	(SELECT f.CoyID, f.tbYear as Year, f.tbMonth as Month, p.ItemSeqID, p.ItemSN, i.ItemName,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 4 THEN f.MTD end as APR,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 5 THEN f.MTD end as MAY,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 6 THEN f.MTD end as JUN,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 7 THEN f.MTD end as JUL,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 8 THEN f.MTD end as AUG,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 9 THEN f.MTD end as SEP,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 10 THEN f.MTD end as OCT,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 11 THEN f.MTD end as NOV,
	CASE WHEN f.tbYear = @Year AND f.tbMonth = 12 THEN f.MTD end as DEC, 
	CASE WHEN f.tbYear = @Year+1 AND f.tbMonth = 1 THEN f.MTD end as JAN,
	CASE WHEN f.tbYear = @Year+1 AND f.tbMonth = 2 THEN f.MTD end as FEB,
	CASE WHEN f.tbYear = @Year+1 AND f.tbMonth = 3 THEN f.MTD end as MAR,
	CASE WHEN ((f.tbYear = @Year AND F.tbMonth>=4) OR (f.tbYear = @Year+1 AND F.tbMonth<=3)) THEN f.MTD end as TOTAL,
	CASE WHEN ((f.tbYear = @Year-1 AND F.tbMonth>=4) OR (f.tbYear = @Year AND F.tbMonth<=3)) THEN f.MTD end as LASTYEAR,
	f.CreatedDate
	FROM tbFinanceItemSeq p WITH (NOLOCK)
	LEFT OUTER JOIN tbFinanceItem i WITH (NOLOCK) ON p.ItemID = i.ItemID 
	LEFT OUTER JOIN tbFinanceDataSAP f WITH (NOLOCK) ON p.ItemID = f.ItemID
	AND f.CoyID = @CoyID
	AND f.ProjectID = @ProjectID
	AND f.DepartmentID = @DepartmentID
	AND f.SectionID = @SectionID
	AND f.UnitID = @UnitID
	AND f.tbYear IN (@Year-1, @Year, @Year+1)
	where P.Report ='MAD'
	)AS A 
	GROUP BY CoyID, ItemSeqID, ItemSN, ItemName
	ORDER BY ItemSeqID


