USE [GMS]
GO
/****** Object:  StoredProcedure [dbo].[procReportFinanceChartByName]    Script Date: 01/09/2018 16:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[procReportFinanceChartByName]
@ItemName NVarchar(max),
@CoyID smallint,
@StartYear smallint,
@EndYear smallint,
@StartMonth smallint,
@EndMonth smallint

AS
	SET NOCOUNT ON

	IF (@StartYear = @EndYear)
		BEGIN
			SELECT tbYear, tbMonth ,ROUND( mtd / 1000 ,1) As mtd, ROUND(ytd / 1000 , 1) As ytd
			FROM [dbo].[tbFinanceData] f WITH (NOLOCK) 
			INNER JOIN [dbo].[tbFinanceItem] fi WITH (NOLOCK) on f.itemid = fi.itemid
			WHERE coyid = @CoyID
			AND tbyear = @StartYear  
			AND tbmonth >= @StartMonth
			AND tbMonth <= @EndMonth
			AND projectid = -1 
			AND departmentid = -1 
			AND sectionid = -1
			AND itemname = @ItemName
			order by tbYear , tbMonth
		END
	ELSE 
		BEGIN
			SELECT tbYear, tbMonth , ROUND( mtd / 1000 ,1) As mtd, ROUND(ytd / 1000 , 1) As ytd
			FROM [dbo].[tbFinanceData] f WITH (NOLOCK) 
			INNER JOIN [dbo].[tbFinanceItem] fi  WITH (NOLOCK) on f.itemid = fi.itemid 
			WHERE coyid = @CoyID
			AND tbyear = @StartYear  
			AND tbmonth >= @StartMonth
			AND projectid = -1 
			AND departmentid = -1 
			AND sectionid = -1
			AND itemname = @ItemName
			UNION
			SELECT tbYear, tbMonth , ROUND( mtd / 1000 ,1) As mtd, ROUND(ytd / 1000 , 1) As ytd
			FROM [dbo].[tbFinanceData] f
			INNER JOIN [dbo].[tbFinanceItem] fi WITH (NOLOCK) on f.itemid = fi.itemid 
			WHERE coyid = @CoyID
			AND tbyear = @EndYear
			AND tbmonth <= @EndMonth
			AND projectid = -1 
			AND departmentid = -1 
			AND sectionid = -1
			AND itemname = @ItemName
			order by tbYear , tbMonth
		END