USE [GMS]
GO
/****** Object:  StoredProcedure [dbo].[procReportFinanceChartBudget]    Script Date: 01/09/2018 16:02:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[procReportFinanceChartBudget]
@itemName NvarChar(max),
@CoyID smallint,
@StartYear smallint,
@EndYear smallint,
@StartMonth smallint,
@EndMonth smallint

AS
	SET NOCOUNT ON

	IF (@StartYear = @EndYear)
		BEGIN
			SELECT b.CoyID, b.BudgetYear as Year, b.BudgetMonth as Month,
			CASE WHEN b.Total IS NULL THEN 0 ELSE ROUND( b.Total / 1000, 1) end as mtd,
			CASE WHEN b.YTDTotal IS NULL THEN 0 ELSE ROUND( b.YTDTotal / 1000 ,1) end as ytd
			FROM tbFinanceItem i WITH (NOLOCK) 
			LEFT OUTER JOIN tbBudgetForFinance b WITH (NOLOCK) ON i.ItemID = b.ItemID
			AND b.CoyID = @CoyID
			AND b.ProjectID = -1
			AND b.DepartmentID = -1
			AND b.SectionID = -1
			AND b.BudgetYear = @StartYear 
			AND b.BudgetMonth >= @StartMonth
			AND b.BudgetMonth <= @EndMonth
			WHERE i.ItemName = @itemName
		END
	ELSE 
		BEGIN
				SELECT b.CoyID, b.BudgetYear as Year, b.BudgetMonth as Month,
				CASE WHEN b.Total IS NULL THEN 0 ELSE ROUND( b.Total / 1000, 1) end as mtd,
				CASE WHEN b.YTDTotal IS NULL THEN 0 ELSE ROUND( b.YTDTotal / 1000 ,1) end as ytd
				FROM tbFinanceItem i WITH (NOLOCK) 
				LEFT OUTER JOIN tbBudgetForFinance b WITH (NOLOCK) ON i.ItemID = b.ItemID
				AND b.CoyID = @CoyID
				AND b.ProjectID = -1
				AND b.DepartmentID = -1
				AND b.SectionID = -1
				AND b.BudgetYear = @StartYear 
				AND b.BudgetMonth >= @StartMonth
				WHERE i.ItemName = @itemName
			UNION
				SELECT b.CoyID, b.BudgetYear as Year, b.BudgetMonth as Month,
				CASE WHEN b.Total IS NULL THEN 0 ELSE ROUND( b.Total / 1000, 1) end as mtd,
				CASE WHEN b.YTDTotal IS NULL THEN 0 ELSE ROUND( b.YTDTotal / 1000 ,1) end as ytd
				FROM tbFinanceItem i WITH (NOLOCK) 
				LEFT OUTER JOIN tbBudgetForFinance b WITH (NOLOCK) ON i.ItemID = b.ItemID
				AND b.CoyID = @CoyID
				AND b.ProjectID = -1
				AND b.DepartmentID = -1
				AND b.SectionID = -1
				AND b.BudgetYear = @EndYear 
				AND b.BudgetMonth <= @EndMonth
				WHERE i.ItemName = @itemName
		END