BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tbFeed
	(
	ID Integer PRIMARY KEY NOT NULL,
	Coy_ID Integer NOT NULL,
	Type nvarchar(50) NOT NULL,
	Title nvarchar(MAX) NOT NULL,
	Created_By Integer NOT NULL,
	Created_At smalldatetime NOT NULL,
	Feed_Description nvarchar(MAX) NOT NULL,
	Feed_Content nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.tbFeed SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
