CREATE PROCEDURE [dbo].[procAppUpdateFeed]
@ID smallint,
@CoyID smallint,
@UserID smallint,
@Title nvarchar(max),
@Desc nvarchar(max),
@Content nvarchar(max)
AS

	
SET NOCOUNT ON;

BEGIN

	UPDATE dbo.tbFeed
	SET 
	Title = @Title ,
	Feed_Description = @Desc,
	Feed_Content = @Content
	WHERE
	ID = @ID
	
END