/*
   November 24, 20172:50:46 PM
   User: sa
   Server: LOCALHOST
   Database: GMS
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.tbFeed_User
	(
	FeedID int NULL,
	UserID int NULL,
	Created_At datetime NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.tbFeed_User SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
