body {
    overflow:hidden;
}


.widget.widget-card .widget-card-cover .cover-bg {
    background: #fff;
}

.profile-header-info {
    color: #fff;   
}
.profile-header-img {
    border: 1px solid #007ee5;
    z-index: 0;
    padding: 0;
}

.profile-header-img img {
    width: 100%;
    height: 100%;
}

.widget.widget-card {
    border: 2px solid whitesmoke;
    border-radius: 2px;
    cursor: pointer;
    background-color: whitesmoke;
}

.bg-gray {
    background: #fafafa!important;
    color: #000!important;
}

.widget-desc {
    color: #050505;
}

.widget.widget-card.dynamic .widget-card-content {
    background-color: #007ee5;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #fbfbfb;
}

.breadcrumb {
    font-size: 15px;
}

.page-header {
    font-size: 25px;
}

.panel.panel-expand {
    overflow: auto;
}

.panel-primary > .panel-heading ,
.panel-primary > .panel-heading {
    background-color: #3BBDA2;
    color: #fff;
}

.footer {
    z-index: 20;
}
/*gridview*/
.table tbody tr.grid_pagination {
    background-color: #ffffff;
}
.table tbody tr.grid_pagination td {
    padding:30px 10px;
    text-align: right;
}
.table tbody  tr.grid_pagination.grid_pagination  td a ,
.table tbody  tr.grid_pagination  td  span {
    position: relative;
    padding: 10px 14px;
    color: #000;
    text-decoration: none;
    text-align:center;
    margin-left: 3px;
    border: 1px solid transparent;
    border-radius: 6px;
}

.table > tbody > tr.grid_pagination > td > span {
    z-index: 0;
    cursor:not-allowed;
    border-color:#8A8A8F;
}

.table > tbody > tr.grid_pagination > td > a:hover,
.table > tbody > tr.grid_pagination > td > a:focus {
    color: #23527c;
    border-color: #eee;
}
/*end gridview */

@media (max-width: 768px) {
    body {
        overflow:auto;
    }
}

.modal-body.no-padding .tab-v2 .nav-tabs > li:first-child {
    margin-left: 10px;
}
.tab-v2 .nav-tabs > li > a {
    border: 1px solid #eef2f5;
    color: #4F5256;
    margin-right: 4px;
}

.tab-v2 .nav-tabs>li.active>a {
    color: white !important;
    background: #007ee5 !important;
    border: 1px solid #007ee5 !important;
}


.ajax_tab_custom .ajax__tab_header {
    font-size: inherit !important;
    font-family: inherit !important;
    background: none !important;
    margin-bottom: -1px;
}

.ajax_tab_custom .ajax__tab_outer,
.ajax_tab_custom .ajax__tab_inner,
.ajax_tab_custom .ajax__tab_tab,
.ajax_tab_custom .ajax__tab_active .ajax__tab_outer ,
.ajax_tab_custom .ajax__tab_active .ajax__tab_inner,
.ajax_tab_custom .ajax__tab_active .ajax__tab_tab{
    background: none !important;
}

.ajax_tab_custom .ajax__tab_body
 {
    border: 1px solid #eef2f5 !important;
    padding: 0 !important;
}

.ajax_tab_custom .ajax__tab_inner {
    border: 1px solid  #eef2f5 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    color: #4F5256 !important;
}


.ajax_tab_custom .ajax__tab_hover .ajax__tab_inner {
    background: #EFEFF4 !important;
}

.ajax_tab_custom .ajax__tab_active .ajax__tab_inner
 {
  
    color: white !important;
    background: #007ee5 !important;
    border: 1px solid #007ee5 !important;
}

.ajax_tab_custom .ajax__tab_header:first-child {
    margin-left: 10px;
}

.ajax_tab_custom .ajax__tab_header .ajax__tab_tab 
{    
    height: 35px !important;
    padding: 10px;
  
}

.tHeader {
    font-weight: bold;
}
