
.note {
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0
}

.note h1,.note h2,.note h3,.note h4,.note h5,.note h6 {
    margin-top: 0
}

.note h1 .close,.note h2 .close,.note h3 .close,.note h4 .close,.note h5 .close,.note h6 .close {
    margin-right: -10px
}

.note p {
    margin: 0
}

.note p:last-child {
    margin-bottom: 0
}

.note.note-default {
    border-color: #b0c1d2;
    color: #000
}

.note.note-default.note-bordered {
    background-color: #eef1f5;
    border-color: #c0cedb
}

.note.note-default.note-shadow {
    background-color: #f1f4f7;
    border-color: #d1dbe4;
    box-shadow: 5px 5px rgba(212,221,230,.2)
}

.note.note-success {
    background-color: #c0edf1;
    border-color: #58d0da;
    color: #000
}

.note.note-success.note-bordered {
    background-color: #a7e6ec;
    border-color: #6dd6df
}

.note.note-success.note-shadow {
    background-color: #abe7ed;
    border-color: #81dbe3;
    box-shadow: 5px 5px rgba(134,221,228,.2)
}

.note.note-info {
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #4F5256;
}

.note.note-info.note-bordered {
    background-color: #dbe8f8;
    border-color: #a0c2ec
}

.note.note-info.note-shadow {
    background-color: #e0ebf9;
    border-color: #b5cff0;
    box-shadow: 5px 5px rgba(185,210,241,.2)
}

.note.note-warning {
    background-color: #faeaa9;
    border-color: #f3cc31;
    color: #000
}

.note.note-warning.note-bordered {
    background-color: #f8e38c;
    border-color: #f4d249
}

.note.note-warning.note-shadow {
    background-color: #f9e491;
    border-color: #f6d861;
    box-shadow: 5px 5px rgba(246,217,102,.2)
}

.note.note-danger {
    background-color: #fef7f8;
    border-color: #f0868e;
    color: #210406
}

.note.note-danger.note-bordered {
    background-color: #fbdcde;
    border-color: #f39da3
}

.note.note-danger.note-shadow {
    background-color: #fbe1e3;
    border-color: #f6b3b8;
    box-shadow: 5px 5px rgba(246,184,189,.2)
}

.rounded-border {
    border:1px solid #000;
    padding:3px;
    border-radius:50%;
}

.right-rounded-border {
    border-top-right-radius:4px !important;
    border-bottom-right-radius:4px !important;
}

/*START Overwrite : Panel Primary Design*/
.panel-primary > .panel-heading {
    background-color: #ffffff;
    color: #4F5256;
    border-bottom: 1px solid #e7ecf1!important;
}

.panel.panel-primary {
    border: 1px solid #e7ecf1!important;
}


.panel .panel-title {
    font-size: 18px;
    font-weight:500;
    color:#4F5256;
}

.panel .panel-title > i {
    margin-right: 10px;
    padding-left:5px;
}


.panel-heading-btn {
    float: right
}

.panel-heading-btn>a {
    margin-left: 8px
}

.panel-heading .btn-group .btn {
    margin-top: -7px
}

.panel-heading .btn-group .btn.btn-sm {
    margin-top: -5px
}

.panel-heading .btn-group .btn.btn-xs {
    margin-top: -1px
}

.panel-heading .btn-circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
.panel-heading .btn-icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    line-height: 22px;
    text-align: center;
    font-size: 8px !important;
}

.panel-heading .btn i.glyphicon {
    padding:3px;
}

/*END Overwrite : Panel Primary Design*/

.btn {
    border-radius : 0;
}

.empty-record {
    padding: 0px 15px;
}

.table-responsive .table tr td:first-child{
    padding-left : 20px;
}

.company-list .panel-heading .panel-title {
    font-size:14px !important;
}

.no-padding {
    padding:0px;
}

.no-full-width {
    width:inherit;
}

.form-horizontal .control-label , .form-group > label {
    font-size: 14px;
    font-weight: 500;
    color:#4F5256;
}

.table {
    font-size: 14px;
    color: #4F5256;
}

.panel-group .panel , .list-group-item:first-child, .list-group-item:last-child{
    border-radius : 0;
}

.form-control {
    font-size:14px;
    color:#4F5256;
}

.navbar .with-label::before {
    background:red !important;
    width:12px;
    height:12px;
}

.list-group-item {
    border-width:0.5px !important;
}

body .datepicker {
    z-index: 1099 !important;
}
body .datepicker .datepicker-switch
{
    color: #017ee5;
}

body .datepicker table tr td span.active.active,
body .datepicker table tr td.active.active,
body .datepicker table tr td.active:hover, body .datepicker table tr td.active:hover.active,
body .datepicker table tr td.active:hover:hover,
body .datepicker table tr td span.active:hover, body .datepicker table tr td span.active:hover.active,
body .datepicker table tr td.active:hover:hover {
    background-color:#017ee5 !important
}


.input-group .btn-upload {
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.table {
    margin-bottom:0;
}

li.notification-footer {
    border-top:1px solid #e8e8e8;
    margin-bottom:5px;
}

li.notification-footer a {
    padding: 10px;
}


.feed-container>ul {
    padding: 0;
    margin-bottom: 0
}

.feed-container>ul .feed-item {
    list-style: none;
    padding: 10px;
    border: 1px solid #f4f6f8;
    margin-top:10px;
    cursor:pointer;
}

.feed-container>ul .feed-item.Unread {
    background-color: #edf2fa;
}

.feed-container>ul .feed-item:hover {
    background-image : linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
    margin-top:10px;
}

.feed-container>ul .feed-item>a>img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.feed-container>ul .feed-item>.feed-content {
    
}

.feed-container>ul .feed-item>.feed-content>.feed-title {
    font-size: 20px;
    margin: 10px 0 20px;
    font-weight: 600
}

.feed-container>ul .feed-item>.feed-content>.feed-title>a {
    color: #4e5a64
}

.feed-container>ul .feed-item>.feed-content>.feed-title>a:hover {
    text-decoration: none;
}

.feed-container>ul .feed-item>.feed-content>.feed-desc {
    color: #a0a9b4;
    font-size: 13px;
    margin: 0
}


.feed-container .feed-detail {
    display: block;
    padding-top: 5px;
    font-size: 12px;
}


.radio input+label:before, .radio-inline input+label:before {
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
}

.table .checkbox {
    margin: 0;
}

.checkbox label {
    color: #4F5256;
}

.input-group-addon {
    cursor:pointer;
}

.no-margin {
    margin:0;
}

.flex-container {
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center
}

.flex-item {
    color:#ccc;
}

.panel-primary .nav-tabs , .panel-primary hr{
    border-color: #e7ecf1;
}

.content {
    padding:26px;
}
