#main {
    top: 20px;
}

#sidebar {
    top:64px;
}

.navbar-header {
    padding: 10px 0;
}

.page-header {
    color: #4F5256;
}

/* Start : Right Side Bar*/
.company-sidebar-wrapper {
    transition: right .3s;
    z-index: 999;
    position: fixed;
    top: 65px;
    bottom: 0;
    width: 320px;
    right: -320px;
    overflow: hidden;
    color: #99a8b5;
    background: #f2f2f2;
}

.company-sidebar-wrapper.expand {
    right:0;
}

.company-list.panel-group .panel {
    border-radius : 0;
}


.company-nav {
    border-radius: 0;
    min-height: 44px;
    background: transparent;
    border: none;
    position: fixed;
    z-index: 10501;
    width: 100%;
    background-color: rgb(2, 126, 229);
}

.region-icon {
    padding:2px;
}

.company-nav .navbar-nav > li > a {
    color:#fff;
}

.company-list.panel-group .panel+.panel{
    margin-top: 0;
}
.company-list .panel .accordion-link {
    padding:2px 15px;
}

.company-list .list-group {
    border-top:none !important;
}
.company-list .list-group-item {
    padding:2px 10px 2px 40px;
    border:none;
    margin-bottom: 3px;
}

.company-list.panel-group li.list-group-item.selected:before {
    content: "";
    border: 4px solid #007de2;
    position: absolute;
    left: 19px;
    top: 8px;
    border-radius: 5px;
}
.company-list.panel-group li.list-group-item.selected {
    color:#000;
}

.company-list li.list-group-item:hover {
    background-color: #007ee5;
    color: #fff;
}

.company-list li.list-group-item a {
    color: inherit;
    text-decoration:none;
}

/* End : Right Side Bar*/

.header.navbar {
    box-shadow: none;
    min-height: 65px;

}

.header .navbar-xs-justified {
    background: #007ee5;
}

.header .navbar-xs-justified .nav {
    min-height: 65px;
}

.header .navbar-xs-justified .nav.navbar-nav > li{
    height: 65px;
}

.header .navbar-xs-justified .nav.navbar-nav > li > a{
    padding: 22px;
}

.navbar .navbar-icon {
    font-size: 22px;
}

.page-sidebar-minified .navbar .navbar-brand {
    width:80px;
}

.page-sidebar-minified .navbar .navbar-brand .navbar-logo {
    font-size:12px
}

#header {
    background-color: #007ee5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.header.navbar.navbar-default .navbar-brand {
    font-weight:bold;
    padding-top : 12px;
}

.navbar-logo {
    float:none !important;
    padding:5px;
    line-height:20px !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, 0.17);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: rgba(0, 0, 0, 0.17);
}

body {
    background: #fff !important;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: .02em !important;
}

.sidebar {
    
}

.sidebar .nav>li.has-sub .sub-menu>li.active>a, .sidebar .nav>li.has-sub .sub-menu>li>a:active, .sidebar .nav>li.has-sub .sub-menu>li>a:focus, .sidebar .nav>li.has-sub .sub-menu>li>a:hover {
    color: #007de2;
    text-decoration: none;
}

.sidebar .nav>li.nav-header {
    font-size:14px;
    color: #4a4848;
}

.page-sidebar-minified .sidebar .nav>li.nav-header {
    font-size:10px;
}

.sidebar li.has-sub .sub-menu > li > a {
    line-height: 25px;
    color: #4a4848;
}

.sidebar , .float-sub-menu {
    background-color: rgb(242, 242, 242)
}

.sidebar .nav > li > a {
    /*color: #000;*/
    color: #31414c;
}

.sidebar .nav > li > a > i {
    color: #007de2;
    /*color: #1ab394;*/
}

.sidebar li.has-sub .sub-menu > li > a:hover {
    /*
    font-size:larger;
    */
}

.float-sub-menu li.active>a,
.float-sub-menu li.has-sub .sub-menu>li>a:active,
.float-sub-menu li.has-sub .sub-menu>li>a:focus,
.float-sub-menu li.has-sub .sub-menu>li>a:hover,
.float-sub-menu>li>a:active,
.float-sub-menu>li>a:focus,
.float-sub-menu>li>a:hover {
    color: #000;
}


.sidebar:before {
    background-color:transparent
}

.sidebar .nav > li > a{
    padding:10px 15px;
    font-size:16px;
    font-weight:500;
    letter-spacing:.0125em;
}

.sidebar li.has-sub .sub-menu > li > a {
    padding:5px 5px 5px 0;
    font-size:16px;
    font-weight:500;
    letter-spacing:.0125em;
}


.sidebar .nav>li>a i {
    opacity: 0.85;
}

#setting_sidebar_minified[data-minified="true"] i.ti-layout-sidebar-right{
    display:block !important;
}

#setting_sidebar_minified[data-minified="false"] i.ti-layout-sidebar-left{
    display:block !important;
}


.page-header-fixed.page-sidebar-fixed .content {
    overflow: auto;
}

.page-bar {
    border-bottom: 1px solid #e7ecf1;
    position: relative;
    margin: -25px 0 0;
    text-align: right
}

.page-bar:after, .page-bar:before {
    content: " ";
    display: table;
}

.page-bar .page-toolbar {
    padding: 10px 0;
    display: inline-block;
}

.CompanyLabel {
    font-size: 22px;
    letter-spacing: .023em;
}

.username-label {
    font-size:16px;
}

.navbar-nav.nav-tab li span {
    margin-left: 5px;
    font-size: 20px;
    letter-spacing: .023em;
    font-weight:300;
}
.navbar-nav.nav-tab li {
    min-width: 110px;
    text-align: center;
    margin: 0 2px;
    height: 65px;
    padding: 10px 0;
}

.nav-tab li.selected {
    background-color: rgba(0, 0, 0, 0.17);
}

.nav-tab li.selected i , .nav-tab li.selected a span {
    color: #fff;
}

.panel-tab .nav-tabs > li:first-child  {
    margin-left : 15px;
}

@media (max-width: 1200px) {
    .navbar-nav.nav-tab li {
        min-width: 0px;
    }

    .header .navbar-xs-justified .nav.navbar-nav > li > a {
        padding: 22px 10px;
    }
}
@media (max-width: 767px) {
    #main {
        top: 20px;
    }
    .page-bar {
        text-align:center;
    }
    .page-bar .page-toolbar {
        padding: 20px 0;
        width: 100%;
    }
    .themedDropdown {
        width:100%;
    }

    .header .navbar-xs-justified{
        background: #007ee5 !important;
    }

    .nav-tab li.selected {
        background-color:#007de2;
    }

    .company-sidebar-wrapper {
        bottom: 65px;
    }
    

}
