CREATE PROCEDURE [dbo].[procAppSelectCompanyUnit]
@CoyID smallint, 
@SectionID smallint

AS 

SET NOCOUNT ON

SELECT *
	FROM tbCompanyUnit WITH (NOLOCK) 
	WHERE CoyID=@CoyID and (SectionID=@SectionID or SectionID=-1)


