CREATE PROCEDURE [dbo].[procAppSelectEntertainmentClaimDetailAttachmentByClaimID]
@ClaimDetailID int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT *
	FROM tbEntertainmentClaim_Attachment WITH(NOLOCK) 
	Where ClaimDetailID = @ClaimDetailID;
END
