ALTER PROCEDURE [dbo].[procReportFinancePNLByLevelNaming]
@CoyID smallint, 
@ProjectID smallint,
@DepartmentID smallint,
@SectionID smallint,
@UnitID smallint
AS 


DECLARE @StatusType char(1)

SELECT @StatusType = StatusType FROM tbCompany WHERE CoyID = @CoyID 

--if all dimention selected 
IF (@UnitID > 0)
BEGIN
	SELECT
		UPPER((SELECT UnitName from tbCompanyUnit cu where cu.CoyID = @CoyID and cu.UnitID = @UnitID)) as L1,
		(SELECT Null) as L2,
		(SELECT Null) as L3,
		(SELECT Null) as L4,
		(SELECT Null) as L5,
		(SELECT Null) as L6,
		(SELECT Null) as L7,
		(SELECT Null) as L8,
		(SELECT Null) as L9
END
-- if dimention 1 selected and dimention 2 selected and dimention 3 selected
ELSE IF (@ProjectID > 0 AND @DepartmentID > 0 AND @SectionID > 0 AND @UnitID < 0)
BEGIN
	 SELECT
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp1 where RowNum = 1)) as L1,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp2 where RowNum = 2)) as L2,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp3 where RowNum = 3)) as L3,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp4 where RowNum = 4)) as L4,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp5 where RowNum = 5)) as L5,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp6 where RowNum = 6)) as L6,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp7 where RowNum = 7)) as L7,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp8 where RowNum = 8)) as L8,
		UPPER((SELECT UnitName FROM(SELECT ROW_NUMBER() OVER(ORDER BY UnitID ASC) AS RowNum , UnitName FROM tbCompanyUnit cs WITH (NOLOCK) where cs.coyid=@coyid and cs.SectionID = @SectionID)Temp8 where RowNum = 9)) as L9
END
-- if dimention 1 selected and dimention 2 selected
ELSE IF (@ProjectID > 0 AND @DepartmentID > 0 AND @SectionID < 0)
BEGIN
	SELECT
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp1 where RowNum = 1)) as L1,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp2 where RowNum = 2)) as L2,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp3 where RowNum = 3)) as L3,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp4 where RowNum = 4)) as L4,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp5 where RowNum = 5)) as L5,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp6 where RowNum = 6)) as L6,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp7 where RowNum = 7)) as L7,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp8 where RowNum = 8)) as L8,
	UPPER((SELECT SectionName FROM(SELECT ROW_NUMBER() OVER(ORDER BY SectionID ASC) AS RowNum , SectionName FROM tbCompanySection cs WITH (NOLOCK) where cs.coyid=@coyid and cs.DepartmentID = @DepartmentID)Temp8 where RowNum = 9)) as L9
END
-- if dimention 1 selected 
ELSE IF (@ProjectID > 0 AND @DepartmentID < 0)
BEGIN
	SELECT
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp1 where RowNum = 1)) As L1,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp2 where RowNum = 2)) As L2,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp3 where RowNum = 3)) As L3,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp4 where RowNum = 4)) As L4,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp5 where RowNum = 5)) As L5,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp6 where RowNum = 6)) As L6,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp7 where RowNum = 7)) As L7,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp8 where RowNum = 8)) As L8,
	UPPER((SELECT DepartmentName FROM(SELECT ROW_NUMBER() OVER(ORDER BY DepartmentID ASC) AS RowNum , DepartmentName FROM tbCompanyDepartment cd WITH (NOLOCK) where coyid=@coyid and ProjectID = @ProjectID)Temp8 where RowNum = 9)) As L9
END
ELSE 
--If all never select
BEGIN
	SELECT 
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 1)) as L1,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 2)) as L2,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 3)) as L3,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 4)) as L4,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 5)) as L5,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 6)) as L6,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 7)) as L7,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 8)) as L8,
	UPPER((select ProjectName from tbCompanyProject cp WITH (NOLOCK) where coyid=@coyid and ProjectID = 9)) as L9
END