CREATE PROCEDURE [dbo].[procAppSelectDepartmentByDivision]
@CoyID smallint,
@ProjectID smallint

AS
 
SET NOCOUNT ON

BEGIN
	select * from tbCompanyDepartment
	WHERE ProjectID = @ProjectID
	AND CoyID = @CoyID
END
