<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GMSConApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <GMSConApp.Properties.Settings>
            <setting name="GMSConApp_GMSWebService_GMSWebService" serializeAs="String">
                <value>https://gms.leedenlimited.com/GMSWebService/GMSWebService.asmx</value>
            </setting>
            <setting name="GMSConApp_CMSWebService_Recipe" serializeAs="String">
                <value>http://localhost/CMS.WebServices/CMSWebService.asmx</value>
            </setting>
        </GMSConApp.Properties.Settings>
    </applicationSettings>
</configuration>