

div.TABCOMMAND			{	display:block;  text-align:center; padding:2px;  }
div.TABCOMMAND ul		{	margin:0px; padding:0px 0px; list-style: none; }
div.TABCOMMAND li		{	display:inline; margin:0px; padding:0px;  }


table.tTable			{	padding:0px; margin:0px; }
table.tBorder td		{	border: 1px solid #8DA3A7; }
tr.tHeader				{	background:#9eb2ec; font-weight:bold; text-align:left; }
tr.tFooter				{	background:#b3c3ef; font-weight:bold; }
tr.tAltRow				{	background:#ECF0D2; }
tr.tSelectRow			{	background:#F4F4BE; }
tr.tSelectRow td		{	font-weight:bold; }
tr.tHiddenRow			{	display: none; }

table.tGroupTable			{	padding:0px; margin:0px; }
table.tGroupBorder td		{	border: 1px solid #8DA3A7; }
tr.tGroupHeader				{	background:#9eb2ec; font-weight:bold; text-align:left; }
tr.tGroupFooter				{	background:#b3c3ef; font-weight:bold; }
tr.tGroupAltRow				{	background:#ECF0D2; }
tr.tGroupSelectRow			{	background:#F4F4BE; }
tr.tGroupSelectRow td		{	font-weight:bold; }
tr.tGroupHiddenRow

/* Red Msg Box */
div.R_MsgBox,
span.R_MsgBox			{	border:1px solid #FBB4B4; display:block; padding:10px; text-align:center;
							background: #fff url(images/imgRedBoxBg.jpg) repeat-x bottom left; }
/* Blue Msg Box */
div.B_MsgBox,
span.B_MsgBox			{	border:1px solid #B4BFDE; display:block; padding:10px; text-align:center;
							background: #fff url(images/imgBlueBoxBg.jpg) repeat-x bottom left; }							

/* Pale Msg Box */
div.P_MsgBox,
span.P_MsgBox			{	border:1px solid #ebeaba; display:block; padding:10px; text-align:center;
							background: #fff url(images/imgPaleBoxBg.jpg) repeat-x bottom left; }														

div.INFOIMG				{	background: url(images/imgInfoIcon.gif) no-repeat top left; text-align:left;
							height:20px; padding: 2px; display: inline; }
div.INFOIMG	span		{	padding-left: 24px; }

div.PROGRESSER			{	background: url(images/icoProgress.gif) no-repeat 2px 0px; float:left; 
							padding-left:18px; height:16px; color: #999; display:block; }

.sSMALLFADE				{	font-size: x-small; color:#888; }
.sFADE					{	color:#888; }

.DELETED				{	text-decoration: line-through; color: Red; }
a.DELETED:hover			{	text-decoration: line-through underline;}

a.CancelButt,
a.DeleteButt,
a.SaveButt,
a.PrintButt,
a.EditButt,
a.GoButt,
a.AddButt,
a.RemoveButt,
a.NewButt				{	font-weight:normal; text-decoration: none; color:blue; padding:3px 7px 2px 20px; text-align:right;  }

a.CancelButt:hover,
a.DeleteButt:hover,
a.SaveButt:hover,
a.PrintButt:hover,
a.EditButt:hover,
a.GoButt:hover,
a.AddButt:hover,
a.RemoveButt:hover,
a.NewButt:hover			{	text-decoration: none; color:#000; padding:2px 6px 1px 19px; border:1px solid #000; 
							background-color:#D9D9D9; }

a.CancelButt			{   background: url(images/icoCancel.gif) no-repeat -3px 1px; }   
a.DeleteButt			{   background: url(images/icoRemoveItem.gif) no-repeat 0px 1px; }   
a.SaveButt				{	background: url(images/icoSaveItem.gif) no-repeat 2px 3px; }   
a.PrintButt				{	background: url(images/icoPrint.gif) no-repeat 2px 3px; }   
a.NewButt				{   background: url(images/icoAddItem.gif) no-repeat 2px 3px; }   
a.AddButt				{   background: url(images/icoCreateItem.gif) no-repeat 2px 3px; }   
a.RemoveButt			{   background: url(images/icoDeleteButt.gif) no-repeat 0px 1px; }   
a.EditButt				{   background: url(images/icoModifyItem.gif) no-repeat 2px 4px; }   
a.GoButt				{   background: url(images/icoGoButt.gif) no-repeat 2px 4px; }   

input.button
{
	font-weight: bold;
	margin: 0px;
	margin-left: 4px;
	padding: 2px 4px 2px 4px;
	border: 1px solid;
	cursor: hand;
	color: #2b333c;
	background: #fefefe url(images/buttonbg.gif) repeat-x;
	border-color: #c4cccc #acb5b5 #6f7777 #acb5b5;
}
input.button:hover
{
	border-color: #444;
}

input, select, textarea {	font-size:12px; }   
   
input.textboxtiny		{	font-size: 10px; }

input.textbox
{
	border: 1px solid #AAA;
	background-color: #EFEFEF;
	height: 16px;
}

select.dropdownlist
{
	border: 1px solid #AAA;
	background-color: #EFEFEF;
}

input.textbox:hover, .textbox:focus
{
	background-color: #fff;
}

input[type=text]:focus, 
textarea:focus			{	border: 1px solid blue; padding:2px;	}

input[readonly],
input[disabled],
textarea[disabled],
select[disabled]		{	background: #ddd; color: #222; }
input.Numeric			{	text-align: right; color:#3B3B92; font-weight:bold; }


input.bFindButt,
input.bCalcButt			{	background: #DADEE7 url(images/imgFindIcon.gif) no-repeat -1px -1px; 
							height: 20px; width:24px;
							padding: 2px;
							margin: 1px;
							cursor: pointer;
							cursor: hand;
							font-size: 10px;
							color: White;
							border: 1px solid;
							border-color: #757E92 #545D70 #545D70 #757E92; }
							
.bFindButt:hover,
.bCalcButt:hover		{	border: 1px solid #000;	}	

input.bCalcButt			{	background: #DADEE7 url(images/imgCalcIcon.gif) no-repeat top left; }


/* Dropdown menu */
/*.DropMenuArrow,
.DropMenuArrowHover		{	display: block;	margin:  0px; padding: 0px;	width:15px;
							height:19px; cursor:hand; cursor:pointer;
							background: url(images/imgDropArrow.gif) no-repeat top left;		
						}
.DropMenuArrowHover		{	background: url(images/imgDropArrow_Over.gif) no-repeat top left;}						

div.DropMenu			{	position: absolute;	width: 150px; overflow: hidden;	top: 0px;	left: 0px;
							margin: 0px; visibility: hidden; text-align:left;
							border: 1px solid #1C4791;	background-color: White;
							background: url(images/PopMenuBg.gif) no-repeat top left; 		
						}		
div.DropMenu a			{	display: block;	width: 100%; margin: 0px;
							padding: 4px; padding-left: 22px;	background: url(images/editItem.gif) no-repeat top left;		
							text-decoration :none; font-weight:normal;
						}	
div.DropMenu a.Remove:hover,
div.DropMenu a.Select:hover	{	background-color: #FF9900;	}		

div.DropMenu a.Remove	{	background: url(images/iconDelItem.gif) no-repeat 2px 2px;	}		
div.DropMenu a.Select	{	background: url(images/imgSelect.gif) no-repeat 2px 2px;	}		



/* -----------------------------------------------------------------------------------------*/

/* Individual Tabs */
div.TABPANEL								{	padding:0px; margin-top:0px; width:98%; display:block; }
div.TABPANEL div.TABBER_TABBODY				{	float:left; width:100%; background: url(images/imgTabPanelBG.gif) repeat-x bottom;
												font-size:93%; line-height:normal; }
div.TABPANEL div.TABBER_TABBODY ul				{	margin:0px; padding:6px 10px 0; list-style:none; }
div.TABPANEL div.TABBER_TABBODY li			{	display:inline; margin:0px; padding:0px;  }
div.TABPANEL div.TABBER_TABBODY ul li a		{	float:left;  background:url(images/imgTabPanelLeft.gif) no-repeat left top;
												margin:0px;  padding:0 0 0 9px; border-bottom:1px solid #8493e9;  }
div.TABPANEL div.TABBER_TABBODY ul li a:active,
div.TABPANEL div.TABBER_TABBODY ul li a:visited,
div.TABPANEL div.TABBER_TABBODY ul li a:link	{	text-decoration: none; }	
							
div.TABPANEL div.TABBER_TABBODY ul li a span	{   float:left;  display:block; background:url(images/imgTabPanelRight.gif) no-repeat right top;
												padding:5px 15px 4px 6px; font-weight:bold; color:#888;  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.TABPANEL div.TABBER_TABBODY ul li a span	{	float:none;	}
/* End IE5-Mac hack */
div.TABPANEL div.TABBER_TABBODY a:hover span	{	color:#333; }
div.TABPANEL div.TABBER_TABBODY a.TAB 			{	background-position:0 -50px; border-width:0;  }
div.TABPANEL div.TABBER_TABBODY a.TAB span	{	background-position:100% -50px; padding-bottom:5px; color:#222; }
div.TABPANEL div.TABBER_TABBODY a:hover		{	background-position:0% -50px; }
div.TABPANEL div.TABBER_TABBODY a:hover span	{	background-position:100% -50px;  }

div.TABPANEL div.TABBER_TEXT				{	padding:4px; border-width: 0px 1px 1px 1px; border-style:solid; border-color:#0f04b8; }

/* -----------------------------------------------------------------------------------------*/


a.NewButt				{	font-weight:normal; text-decoration: none; color:blue; padding:3px 7px 2px 20px; text-align:right;  }

a.NewButt				{   background: url(images/icoAddItem.gif) no-repeat 2px 3px; }   


#BANNERMain					{	height:200px; 	background: url(images/topbar.jpg) no-repeat 0px -2px;	}
#footer
{
	margin-top: 65px;
	padding-top: 10px;
	border-top: 1px dashed #BBB;
	color: #999;
	display: block;
	height: 40px;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
}

div.PanelBar { color: #0135ad; font-size:small; padding-top:8px; height: 25px; }


html, body, form
{
	color: #000;
	padding: 0px;
	margin: 0px;
}

#theBody
{
	margin-left: 2px;
	margin-right: 2px;
}

body, td, div, span, label, li, input, textarea, h1, h2, h3, h4
{
	font-family: tahoma, verdana, arial, sans-serif;
}
a img
{
	border: 0px;
}
body, td, div, span, label, li, input, select
{
	font-size: 11px;
}

/*      Header - corporate banner      */
#corporateheader{	display: block;	height: 70px;	padding: 0px;	margin-left: 30px; margin-top: 20px; margin-bottom:0px;	margin-right: 0px; background: url(images/header_bg_corporate.jpg) no-repeat bottom left;}
#corporateheader div{	display: block;	height: 50px;	padding: 0px;	margin: 0px;}
#corporateheader ul{	padding: 0px;	margin: 0px;	list-style: none;	position: absolute;	top: 55px;	left: 50px;}
#corporateheader ul li{	padding: 0px;	margin: 0px;	padding-top: 1px;	float: left;	display: block;}
#corporateheader ul li a{	text-decoration: none;	display: block;	padding: 10px;	margin: 0px;	color: White;	font-size: 95%;
							font-weight: bold;	background: url(images/tab_bg_corporate.jpg) no-repeat top left;}
#corporateheader ul li a:hover{	background: url(images/tab_hover_bg_corporate.jpg) no-repeat top left;}
#corporateheader ul li a span{	cursor: hand;	display: block;	text-align: center;}
#corporateheader ul li a.Current, #header div ul li a.Current:hover{	color: #fff802;}


/*      Header - group banner      */
#header			{	height: 80px;}
#header ul		{	list-style:left;	padding:1px;	margin: 15px 0px 0px 35px;	display:block;}
#header ul li	{	padding: 0px;	margin: 0px;	padding-top: 1px;	float: left;	display: block;}
#header ul li a	{	text-decoration: none;	display: block;	padding: 10px;	margin: 0px;	color: White;	
					font-weight: bold;	background: url(images/tab_bg.jpg) no-repeat top left;}
#header ul li a:hover{	background: url(images/tab_hover_bg.jpg) no-repeat top left;}
#header ul li a span{	cursor: hand;	display: block;	text-align: center;}
#header ul li a.Current, 
#header div ul li a.Current:hover{	color: #fff802;}

#headersub	div			{ float:left; overflow: auto; }
#headersub ul			{	font-size:12px; 	}


/*-------------------------------------------------------------------*/
#ContentBar
{
	padding-left: 15px;
	padding-bottom:5px;
}

#ContentBar h3
{
	color: #0135ad;
	margin: 0px;
	margin-top: 15px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #ff5c00;
	font-size: 120%;
}

#GroupContentBar
{
	padding-left: 15px;
	padding-bottom:5px;
}

#GroupContentBar h3
{
	color: #0135ad;
	margin: 0px;
	margin-top: 15px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	border-bottom: 1px solid #0135ad;
	font-size: 120%;
}

/*-------------------------------------------------------------------*/
/*          Side Bar Settings    */
#SideBar
{
	width: 250px;
	padding-top: 15px;
	padding-left: 12px;
	overflow: auto;
	background-color : #F5F7F8;
}

#GroupSideBar
{
	width: 250px;
	margin-top: 15px;
	padding-left: 12px;
	overflow: auto;
}




/*-------------------------------------------------------------------*/
a.blkLink
{
	display: block;
	padding: 3px;
	text-decoration: none;
	color: #6f7777;
}
a.blkLink:hover
{
	padding: 2px;
	border: 1px solid #999;
	color: #555;
}


/*----------- Table elements --------------*/

table.tblTable
{
	border: 1px solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #5466b6;
}

table.tblGroupTable
{
	border: 1px solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #0135ad;
}


.tbLabel
{
	width: 24%;
	background: #ECF0D2;
	padding-left: 3px;
}
.tbColon
{
	width: 3%;
}
.tblHeader
{
	background-color: #9EB9BE;
	font-weight: bold;
}
.tblFooter
{
	background-color: #C4DCE0;
}
tr.tblItemRow td, tr.tblAltItemRow td
{
	border-bottom: 1px solid #E7ECED;
}
.tblAltItemRow
{
	background-color: #F6FAFB;
}
.tblEditItemRow
{
	background-color: #FFFDDB;
}
/*--------- Table Links -----------------*/
tr.tblItemRow td a, tr.tblAltItemRow td a
{
	color: #4682b4;
	text-decoration: underline;
	padding: 1px 3px 1px 3px;
}
tr.tblItemRow td a:hover, tr.tblAltItemRow td a:hover
{
	color: #000;
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	border: 1px solid #000;
}

/*----------Sortable Header Links--------------*/
tr.tblHeader td a
{
	color: Black;
	text-decoration: underline;
	padding: 1px 3px 1px 3px;
}
tr.tblHeader td a:hover
{
	color: #000;
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	border: 1px solid #000;
}

tr.tblFooter td a
{
	color: Blue;
	text-decoration: underline;
	padding: 1px 3px 1px 3px;
}
tr.tblFooter td a:hover
{
	color: #000;
	text-decoration: none;
	padding: 0px 2px 0px 2px;
	border: 1px solid #000;
}


